/.config/*
!/.config/dunst/
!/.config/Dharkael/
!/.config/fontconfig/
!/.config/openbox/
!/.config/polybar/
!/.config/psd/
!/.config/rofi/
!/.config/fcitx/
/.config/fcitx/*
!/.config/fcitx/config
!/.config/xarchiver/
!/.config/mpv/
!/.config/chrome-flags.conf
!/.config/pulse/
/.config/pulse/*
!/.config/pulse/daemon.conf
!/.config/libinput-gestures.conf
!/.config/gesturesmanger.json
!/.config/compton.conf

/etc/*
!/etc/docker/
/etc/docker/*
!/etc/docker/daemon.json
!/etc/lxdm/
!/etc/modprobe.d/
!/etc/pacman.d/
/etc/pacman.d/*
!/etc/pacman.d/mirrorlist
!/etc/X11/
!/etc/udev/
!/etc/pacman.conf
!/etc/yaourtrc
!/etc/mkinitcpio.conf
!/etc/makepkg.conf
!/etc/proxychains.conf
!/etc/oblogout.conf
